#--------OAuth2.0 Client Configuration---------
scope=
grant_type=password
client_id=saigonbpo
client_secret=S@igonbpo123
access_token=
#authentication_server_url=http://10.1.21.144:8085/oauth/token
username=
password=
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------






















