

<!-- Modal edit-->



 <div class="modal-dialog">
    <form  method="POST" class="form-horizontal" id="form">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Add Crew Certificate </h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-sm-4 control-label required" for="cc_code">Chứng chỉ </label>
                    <div class="col-sm-8">

                      <select name="tenchungchiVAL" id="tenchungchiVAL" class="select2_single form-control"  >
                                     <option th:each="objx : ${certificates}"
                                        th:value="${objx.id}"
                                        th:utext="${objx.text}"/>
                              </select>

                    </div>
                </div><!--form-group-->

                <div class="form-group">
                    <label class="col-sm-4 control-label requiredStar" for="cc_code">Số </label>
                    <div class="col-sm-8">

                          <input  name="so" id="so" class="form-control " required="required" autocomplete="off" />

                    </div>
                </div><!--form-group-->

                  <div class="form-group">
                    <label class="col-sm-4 control-label requiredStar" for="cc_code">Ngày cấp </label>
                    <div class="col-sm-8">

                        <input  name="tungay" id="tungay" class="form-control " autocomplete="off" />

                    </div>
                </div><!--form-group-->

                <div class="form-group">
                    <label class="col-sm-4 control-label required" for="cc_code">Ngày hết hạn </label>
                    <div class="col-sm-8">

                        <input  name="denngay" id="denngay" class="form-control " autocomplete="off"  />

                    </div>
                </div><!--form-group-->

                
    </form>
                 <div class="form-group">
                    <label class="col-sm-4 control-label required" for="cc_code">File Chứng chỉ </label>
                    <div class="col-sm-8">
                    
     <!-- Upload file form -->
						<form id="upload-certificate-form">
							<input class="form-control" id="upload-certificate-input" type="file" name="uploadfile" accept="*" />
						</form>
                    </div>
                </div><!--form-group-->





            </div><!--modal-body-->

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-success"><i
                        class="mdi mdi-check mdi-17px"></i> Save
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="mdi mdi-close mdi-17px"></i> Cancel
                </button>
            </div><!--modal-footer-->

        </div><!--model-content-->
   
</div>

    <script >
	$( document ).ready(function() {
		$( "#save" ).click(function() {

				if( $('#ngoaingu').val() === "" )
				{

					alert("Please fill data");

					if( $('#ngoaingu').val() === "" )
						$('#ngoaingu').focus();


				}
				else
				{
			        //your form execution code
					var formData = trimObj( ConvertFormToJSON($("#form")) );
			        formData.thuyenvienId = $('#thuyenvienId').val();
					console.log(formData);
					      $.ajax({
			                  type: "POST",
			                  contentType : 'application/json; charset=utf-8',
			                  data: JSON.stringify(formData),
			                  url: $('#PageContext').val()+ "trinhdongoaingu/add",
			                  success: function(msg){

			                      var table = $('#xtable_trinhdongoaingu').DataTable();

			                	  if(msg.id>0)
			                	  {
			                		  table.row.add( msg).draw( false );
			                		  $('#modal-confirm').modal('hide');
			                		 //console.log(msg);
			                	  }

			                  },
			                  error : function(xhr, ajaxOptions,
			                                   thrownError) {
			                  	alert("Có lỗi xảy ra nhờ admin hỗ trợ");
			                  	$('#cusloading').hide();
			               	    console.log(xhr.status);
			                    console.log(thrownError);
			                  }
			                  //
			              });
				}

		});
	});

</script>
