

<!-- Modal edit-->



<div class="modal-dialog">
	<form method="POST" class="form-horizontal" id="form">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Crew Certificate</h4>
			</div>
			<div class="modal-body">
				<input onClick="this.select();"  th:if="${data!=null}" id="id" name="id" type="hidden" th:value="${data.id}"></input>
				
				
				
				
				<!-- IF -->
						<div th:if="${data!=null && data.containsKey('hinhscan')}">
								<input onClick="this.select();" id="hinhCertificate" name="hinhCertificate" type="hidden" th:value="${data.hinhscan}" >
						</div>
						<!-- ELSE -->
						<div
							th:unless="${data!=null && data.containsKey('hinhscan')}">
							<input onClick="this.select();" id="hinhCertificate" name="hinhCertificate" type="hidden" >
						</div>

				<div class="form-group">
					<label class="col-sm-4 control-label required" for="cc_code">Chứng
						chỉ </label>
					<div class="col-sm-8">

						<!-- IF -->
						<div th:if="${data!=null && data.containsKey('tenchungchiVAL')}">
							<input onClick="this.select();" id="tenchungchiVAL" name="tenchungchiVAL"
								th:value="${data.tenchungchi}" type="text"
								class="form-control " autocomplete="off" readonly>
						</div>
						<!-- ELSE -->
						<div
							th:unless="${data!=null && data.containsKey('tenchungchiVAL')}">
							<input onClick="this.select();" id="tenchungchiVAL" name="tenchungchiVAL" type="text"
								class="form-control " autocomplete="off" readonly>
						</div>

					</div>
				</div>
				<!--form-group-->
				
					<div class="form-group">
					<label class="col-sm-4 control-label required" for="cc_code">số </label>
					<div class="col-sm-8">

							<!-- IF -->
							<div th:if="${data!=null && data.containsKey('so')}">
								<input onClick="this.select();" id="so" name="so" th:value="${data.so}" type="text"
									class="form-control " autocomplete="off">
							</div>
							<!-- ELSE -->
							<div th:unless="${data!=null && data.containsKey('so')}">
								<input onClick="this.select();" id="so" name="so" type="text" class="form-control "
									autocomplete="off">
							</div>
							<!--form-group-->

					</div>
				</div>
				<!--form-group-->

			
				

				<div class="form-group">
					<label class="col-sm-4 control-label requiredStar" for="cc_code">Ngày
						cấp </label>
					<div class="col-sm-8">


					<div th:if="${data!=null && data.containsKey('tungay')}">
     												   <input onClick="this.select();" id="tungay" name="tungay" th:value="${#dates.format(data.tungay, 'dd/MM/yyyy')} " type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'">
     												</div>
     												<!-- ELSE -->
     												<div th:unless="${data!=null && data.containsKey('tungay')}">
     												   <input onClick="this.select();" id="tungay" name="tungay" type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'"   >
     												</div>
							
							
					</div>
				</div>
				<!--form-group-->

				<div class="form-group">
					<label class="col-sm-4 control-label required" for="cc_code">Ngày
						hết hạn </label>
					<div class="col-sm-8">
						  <!-- IF -->
     												<div th:if="${data!=null && data.containsKey('denngay')}">
     												   <input onClick="this.select();" id="denngay" name="denngay" th:value="${#dates.format(data.denngay, 'dd/MM/yyyy')} " type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'">
     												</div>
     												<!-- ELSE -->
     												<div th:unless="${data!=null && data.containsKey('denngay')}">
     												   <input onClick="this.select();" id="denngay" name="denngay" type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'"   >
     												</div>
					</div>
				</div>
				<!--form-group-->
	</form>
	<div class="form-group">
		<label class="col-sm-4 control-label required" for="cc_code">File
			Chứng chỉ </label>
		<div class="col-sm-8">

			<!-- Upload file form -->

			<div th:if="${data!=null && data.containsKey('hscanDownName')}">
			  <a id="linkCertificate" style="text-decoration: underline;color:blue"  th:href="@{/disk/} + ${data.hscanDownName}"  th:text="${data.hscanName}" target="_blank" title="Download hình scan"></a>
			  <a id="delLink" class="menu " href="#" onclick="delHinhScan();return false;"><img th:src="@{/images/seagull/delete-icon16.png}" title="Xóa"></a> 
			</div>
			<script>
			function delHinhScan(){
				$('#linkCertificate').css("display", "none");
				$('#delLink').css("display", "none");
				$('#hinhCertificate').val(0);
			}
			</script>
			<form id="upload-certificate-form">
				<input onClick="this.select();" class="form-control" id="upload-certificate-input"
					type="file" name="uploadfile" accept="*" />
			</form>
		</div>
	</div>
	<!--form-group-->





</div>
<!--modal-body-->

<div class="modal-footer">
	<button id="save" type="button" class="btn btn-success">
		<i class="mdi mdi-check mdi-17px"></i> Save
	</button>

	<button type="button" class="btn btn-danger" data-dismiss="modal">
		<i class="mdi mdi-close mdi-17px"></i> Cancel
	</button>
</div>
<!--modal-footer-->

</div>
<!--model-content-->

</div>

<script>
	$(document).ready(function() {

		initDateByMe("tungay_certificate");
		initDateByMe("denngay_certificate");
		


		$("#upload-certificate-input").on("change", uploadCertificate);
		
	

		$("#save").click(function() {

			if ($('#so').val() === "" || $('#tungay').val() === "") {

				alert("Please fill data");

				if ($('#tungay').val() === "")
					$('#tungay').focus();

				if ($('#so').val() === "")
					$('#so').focus();

			} else {
				//your form execution code
				var formData = trimObj(ConvertFormToJSON($("#form")));
				formData.thuyenvienId = $('#thuyenvienId').val();
				console.log(formData);
				$.ajax({
					type : "POST",
					contentType : 'application/json; charset=utf-8',
					data : JSON.stringify(formData),
					url : $('#PageContext').val() + "certificate/edit",
					success : function(msg) {

						var table = $('#xtable_certificate').DataTable();

						 if(msg)
	                	  {
	                		
	                		    
	                		    table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
	                		    	
	                		        var dataT = this.data();
	                		        console.log(dataT);
	                		        if( dataT.id == $('#id').val()  ){
	          							msg.stt =  rowIdx+1;     		        
	                		            table.row( rowIdx ).data( msg ).draw(false);
	          
	                		       }
	                		        // ... do something with data(), or this.node(), etc
	                		    } );
	                		    
	                		  $('#modal-confirm').modal('hide');  		  
	                	  }

					},
					error : function(xhr, ajaxOptions, thrownError) {
						alert("Có lỗi xảy ra nhờ admin hỗ trợ");
						$('#cusloading').hide();
						console.log(xhr.status);
						console.log(thrownError);
					}
				//
				});
			}

		});
	});
</script>
