<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Layout</title>

</head>

<body>

	<div class="right_col" role="main" style="min-height: 657px;"
		th:fragment="index">



		<div class="row">
					<button type="button" class="btn btn-success source" id="btnAddCertificate" ><i class="fa fa-plus"> </i>  Thêm chứng chỉ</button>
				<table id="xtable_certificate"
							class="table table-striped table-bordered dataTable no-footer jambo_table bulk_action"
							style="width: 100%">

							<!-- Header Table -->
							<thead>

							</thead>

						</table>
		</div>



		<script>
			$("#btnAddCertificate").click(function() {
				popupModalAdd( $('#PageContext').val() + 'addCertificate/' + $('#thuyenvienId').val() );
			});
		</script>
		<script th:src="@{/js/seagull/certificate/resume_certificate.js}" th:inline="javascript"></script>
	</div>


</body>

</html>