<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.saigonbpo.ntb.Mapper.AssignmentMapper'>

	
	<select id="getShips" resultType="map">
		SELECT * FROM ${jdbc.schema}.sea_tau where isActive=1
	</select>
	
	<select id="loadCrewOnShip" resultType="map">
		call ${jdbc.schema}.SP_DieuDong_Search (413,#{tauid},null,null,null,null,null,true,1,100000)
	</select>
	
	<select id="SP_DieuDong_Search" resultType="map" parameterType="map">

		call ${jdbc.schema}.SP_DieuDong_Search (413,null,#{thuyenvienId},null,null,null,null,null,1,100000)


	</select>
	
	<select id="SP_Kinh_Nghiem_Lam_Viec" resultType="map" parameterType="map">
		call ${jdbc.schema}.SP_Kinh_Nghiem_Lam_Viec (413,#{thuyenvienId},null,null);
	</select>
	
	<select id="loadTVDuTru" resultType="map">
		call ${jdbc.schema}.SP_Tim_Kiem_TV_Du_Tru (413,null,null,null,null,null,#{tauid},1,null)
	</select>
	
	<select id="getChucDanh" resultType="map" parameterType="string">
		select *
				from ${jdbc.schema}.sea_thongtinchucdanh
				where thuyenvienId=#{id}
				order by denngay
				limit 0,1;
	</select>
	
	<select id="getDieuDong" resultType="map" parameterType="string">
		select *
				from ${jdbc.schema}.sea_thongtindieudong
				where thuyenvienId=#{id}
				order by denngay
				limit 0,1;
	</select>
	
	
	
	
	<update id = "updateOldDieuDong" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_thongtindieudong  set
			denngay=DATE_SUB( str_to_date(  #{tungay}  , '%d/%m/%Y' ) , INTERVAL 1 DAY), 
			ghichuon= #{ghichuon}
			where id = (
					SELECT max(id) 
					FROM (select * from ${jdbc.schema}.sea_thongtindieudong) t
					 WHERE t.thuyenvienId=#{thuyenvienid} 
				   )
	 </update>
	 
	 <update id = "updateLeaveShip" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_thongtindieudong  set
			denngay=str_to_date(  #{denngay}  , '%d/%m/%Y' ), 
			ghichuoff= #{ghichuoff}
			where id = (
					SELECT max(id) 
					FROM (select * from ${jdbc.schema}.sea_thongtindieudong) t
					 WHERE t.thuyenvienId=#{thuyenvienid} 
				   )
	 </update>
	 
	 <insert id="insertNewDieuDong" parameterType = "map" >
 			INSERT INTO ${jdbc.schema}.sea_thongtindieudong
 			(tauID, thuyenvienId, tungay, ghichuon) VALUES (#{tauid},#{thuyenvienid},str_to_date(  #{tungay} , '%d/%m/%Y' ),#{ghichuon})
	</insert>
	
	<update id = "updateTinhTrangDieuDong" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_thongtinthuyenvien set
			tinhtrangdieudong=IF(tinhtrangdieudong=1, 0, 1),ss=0
		where id = #{thuyenvienid}
	 </update>
	 
	 <update id = "updateDieuDong" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_thongtindieudong  set
			tungay= str_to_date(  #{tungay}  , '%d/%m/%Y' ) , 
			ghichuon= #{ghichuon}
			where id = (
					 SELECT max(id) 
					 FROM (select * from ${jdbc.schema}.sea_thongtindieudong) t
					 WHERE t.thuyenvienId=#{thuyenvienid} 
				   )
	 </update>
	 
	  <delete id = "deleteDieuDong" parameterType = "map">
		delete  from ${jdbc.schema}.sea_thongtindieudong 
			where id = (
					 SELECT max(id) 
					 FROM (select * from ${jdbc.schema}.sea_thongtindieudong) t
					 WHERE t.thuyenvienId=#{thuyenvienid} 
				   )
	 </delete>
	
	
	
		

</mapper>

