<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.saigonbpo.ntb.Mapper.CertificateMapper'>

	
	
	
	<select id="sp_get_certificate" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Boatman_Certificate_Search (413,#{thuyenvien_id},null,null,null,null,null,null,1,100000);
	</select>
	
	<select id="SP_LOV_REMAINING_BOATMAN_CERT" resultType="map" parameterType="int">
		call ${jdbc.schema_02}.SP_LOV_REMAINING_BOATMAN_CERT (413,25,#{thuyenvien_id});
	</select>
	
	
	
	
	
	<select id="sp_get_certificate_by_id" resultType="map" parameterType="int">
	
	
		select  t.`id`,
		tv.`hoten`,
		tv.`ngaysinh`,
		t.`thuyenvienID`,
		t.`tenchungchiVAL`,
		t.`so`,
		t.`tungay`,
		${jdbc.schema}.calCertExpDate(t.`denngay`) 'denngay',
		t.`ngaytao`,
		t.`nguoitaoId`,
		t.`ngaycapnhat`,
		t.`nguoicapnhatId`,
		lt.text 'tenchungchi',
		lt.textEn 'tenchungchiEn',
		ltp.text 'loaichungchi',
		ltp.VALUE 'loaichungchiVAL',
		ltp.textEn 'loaichungchiEn',
		t.`hinhscan`,
		hscan.full_path 'hscanName' ,
		hscan.name 'hscanDownName'
	from ${jdbc.schema}.sea_chungchithuyenvien t left join (select * from ${jdbc.schema_02}.tab_lov lt1 where lt1.code like 'TV001') lt on (t.tenchungchiVAL = lt.VALUE)
		left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'TV003') ltp on (lt.PARENTID = ltp.id)
		left join ${jdbc.schema}.sea_thongtinthuyenvien tv on t.thuyenvienID = tv.id
		left join ${jdbc.schema}.tab_file hscan on t.`hinhscan` = hscan.id
	where t.id=#{id}
	</select>
	
	<insert id="add_certificate" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO  ${jdbc.schema}.sea_chungchithuyenvien
			(tungay,denngay, hinhscan, tenchungchiVAL,so, thuyenvienID)
			VALUES ( 
			str_to_date(  #{tungay}  , '%d/%m/%Y' ) ,
			str_to_date(  #{denngay}  , '%d/%m/%Y' ) ,
			 #{hinhCertificate},
			 #{tenchungchiVAL},
			  #{so},
			    #{thuyenvienId} 
			    )
	</insert>
	
	<update id = "edit_certificate" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_chungchithuyenvien set
			tungay=str_to_date(  #{tungay}  , '%d/%m/%Y' ), 
			denngay=str_to_date(  #{denngay}  , '%d/%m/%Y' ), 
			hinhscan= #{hinhCertificate}, 
			so= #{so}
		where id = #{id}
	 </update>
	 
	 <delete id="delete_certificate"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_chungchithuyenvien where id = #{id}
	 </delete>
	 
	 
	 <select id="SP_Boatman_Position_Search" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Boatman_Position_Search (413,#{thuyenvien_id},null,null,null,null,null,1,100000);
	</select>
	
	
	
	<select id="sp_get_Rank_by_id" resultType="map" parameterType="int">
		select t.`id`,
			t.`chucdanhId`,
			t.`thuyenvienId`,
			t.`tungay`,
			t.`denngay`,
			t.`ghichu`,
			t.`ngaytao`,
			t.`nguoitaoId`,
			t.`ngaycapnhat`,
			t.`nguoicapnhatId`,
			lt.text 'chucdanh'
		from ${jdbc.schema}.sea_thongtinchucdanh t 
		left join ${jdbc.schema_02}.tab_lov lt on (lt.code like 'TV002' and t.chucdanhId = lt.VALUE) 	
		where t.id = #{id}
	</select>
	
	<insert id="add_rank" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			    insert into ${jdbc.schema}.sea_thongtinchucdanh (chucdanhId, denngay, ghichu, thuyenvienId, tungay)
 				values (
 							#{chucdanhId},
 							 str_to_date(  #{denngay}  , '%d/%m/%Y' ),
 							 #{ghichu},
 							  #{thuyenvienId},
 							  str_to_date(  #{tungay}  , '%d/%m/%Y' )
 					   )
	</insert>
	
	<update id = "edit_rank" parameterType = "map">
		UPDATE  ${jdbc.schema}.sea_thongtinchucdanh set
			chucdanhId = #{chucdanhId},
			tungay=str_to_date(  #{tungay}  , '%d/%m/%Y' ), 
			denngay=str_to_date(  #{denngay}  , '%d/%m/%Y' ), 
			ghichu= #{ghichu}
		where id = #{id}
	 </update>
	 
	 <delete id="delete_rank"  parameterType = "map">
	 	delete from ${jdbc.schema}.sea_thongtinchucdanh where id = #{id}
	 </delete>
	
	
	
	
	

</mapper>

