<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.saigonbpo.ntb.Mapper.CertificateMapper'>

	
	
	
	<select id="sp_get_certificate" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Boatman_Certificate_Search (413,#{thuyenvien_id},null,null,null,null,null,null,1,100000);
	</select>
	
	<select id="SP_LOV_REMAINING_BOATMAN_CERT" resultType="map" parameterType="int">
		call ${jdbc.schema_02}.SP_LOV_REMAINING_BOATMAN_CERT (413,25,#{thuyenvien_id});
	</select>
	
	
	
	
	

</mapper>

