<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.saigonbpo.ntb.Mapper.ShipMapper'>

	
	
	
	<select id="sp_get_ship" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Ship_Search (413,null,null,null,null,null,true,1,100000);
	</select>
	

	<select id="sp_get_ship_by_id" resultType="map" parameterType="int">
		select  t.`id`,
			    t.`ten`,
			    t.`IMO`,
			    t.`callsign`,
			    t.`ghichu`,
			    t.`loaitauID`,
			    lt.text 'loaitau',
			    t.`ngaytao`,
			    t.`nguoitaoID`,
			    t.`ngaycapnhat`,
			    t.`nguoicapnhatID`,
			    t.`trongtai`,
			    t.`congsuatmay`,
			    t.`isActive` 
		from ${jdbc.schema}.sea_tau t left join ${jdbc.schema_02}.tab_lov lt on (lt.code like 'T001' and t.loaitauID = lt.VALUE) 	
		where t.id = #{id}
	</select>
	
	<insert id="add_ship" parameterType = "map" useGeneratedKeys="true" keyProperty="id">
			insert into ${jdbc.schema}.sea_tau (IMO, callsign, congsuatmay, ghichu, isActive, loaitauID, ten,trongtai)
			values (#{IMO}, #{callsign}, #{congsuatmay}*1, #{ghichu}, b''+ '1', #{loaitauID}, #{ten}, #{trongtai}*1)
	</insert>
	
	<update id = "edit_ship" parameterType = "map">
		update ${jdbc.schema}.sea_tau set
			 IMO=#{IMO},
			 callsign=#{callsign},
			 congsuatmay=#{congsuatmay},
			 ghichu=#{ghichu},
 			 ten=#{ten},
 			 trongtai=#{trongtai},
 			 loaitauID = #{loaitauID}
 		where id=#{id}
	 </update>
	 
	 <delete id="delete_ship"  parameterType = "map">
			update ${jdbc.schema}.sea_tau set
			isActive= 0
			where id=#{id}
	 </delete>
	 
	 	
	<select id="getCerficate" resultType="map" parameterType="string">
		call ${jdbc.schema}.SP_Ship_Certificate_Search (413,null,#{id},null,null,null,null,null,null,null,null,null,null,1,100000)
	</select>
	
	<select id="SP_LOV_REMAINING_SHIP_CERT" resultType="map" parameterType="string">
		call ${jdbc.schema_02}.SP_LOV_REMAINING_SHIP_CERT(413,25,#{id})
	</select>
	
	<select id="sp_get_certificate_ship_by_id" resultType="map" parameterType="int">
			  select  t.`id`,
			   t.`tenchungchitauVAL`,
			   t.`tauId`,
			   lt.VALUE 'loaichungchitauVAL',
			   t.`ngaycap`,
			   t.`ngayhethan`,
			   t.`lastannual`,
			   t.`nextendorsement`,
			   t.`ghichu`,
			   t.`ngaytao`,
			   t.`nguoitaoId`,
			   t.`ngaycapnhat`,
			   t.`nguoicapnhatId`,
			   lt.text 'loaichungchitau',
			   ltt.text 'tenchungchitau',
			   ltt.textEn 'tenchungchitauEn',
	           m.name 'hinhscan',
	           m.full_path 'hscanName',
			   ltt.sort,
			   m.id 'hinhscanid'		   
		from ${jdbc.schema}.sea_thongtinchungchitau t 	
			left join (select * from ${jdbc.schema_02}.tab_lov lt3 where lt3.code like 'T003' ) ltt on (t.tenchungchitauVAL = ltt.VALUE) 	
			left join (select * from ${jdbc.schema_02}.tab_lov lt2 where lt2.code like 'T002' ) lt on (lt.id = ltt.PARENTID)
	        left join ${jdbc.schema}.tab_file m on (t.hinhscan = m.id) 
		where t.id = #{id}
	</select>
	
	<insert id="add_certificate_ship" parameterType = "map" useGeneratedKeys="true" keyProperty="id">

			insert into ${jdbc.schema}.sea_thongtinchungchitau
			( ghichu, hinhscan, lastannual, nextendorsement,
			 ngaycap,ngayhethan, tauID, tenchungchitauVAL )
			values( #{ghichu}, #{hinhCertificate}, str_to_date(  #{lastannual}, '%d/%m/%Y'),  str_to_date( #{nextendorsement} , '%d/%m/%Y'),
			str_to_date(  #{ngaycap}, '%d/%m/%Y'),str_to_date(  #{ngayhethan}, '%d/%m/%Y') , #{ship_id}, #{tenchungchiVAL} )
			

	</insert>
	
	<update id = "edit_certificate_ship" parameterType = "map">
		update ${jdbc.schema}.sea_thongtinchungchitau set
			ghichu=#{ghichu},
			hinhscan=#{hinhCertificate},
			lastannual=str_to_date(  #{lastannual}, '%d/%m/%Y'),
			nextendorsement=str_to_date( #{nextendorsement} , '%d/%m/%Y'),
			ngaycap=str_to_date(  #{ngaycap}, '%d/%m/%Y'),
 			ngayhethan=str_to_date(  #{ngayhethan}, '%d/%m/%Y')
 		where id=#{id}
	 </update>
	 
	 <delete id="delete_certificate_ship"  parameterType = "map">
			delete from ${jdbc.schema}.sea_thongtinchungchitau where id=#{id}
	 </delete>
	
	
	
	
	
	 
	

</mapper>

