

<!-- Modal edit-->



 <div class="modal-dialog">
    <form  method="POST" class="form-horizontal" id="form">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Cập nhật điều động xuống tàu</h4>
            </div>
            <div class="modal-body">


				<div th:if="${ data!=null && data.containsKey('chucdanh')}">
 
				<input id="tauid_popup" name="tauid" th:value="${data.tauid}"  type="hidden"  >
			
				 
				<input id="thuyenvienid" name="thuyenvienid" th:value="${data.thuyenvienid}"  type="hidden"  >
				<input id="tinhtrangdieudong" name="tinhtrangdieudong" th:value="${data.tinhtrangdieudong}"  type="hidden"  >
						  <div class="form-group">
		                    <label class="col-sm-4 control-label required" for="cc_code">Thuyền viên </label>
		                    <div class="col-sm-8">
		
		                      <div th:if="${data!=null && data.containsKey('hoten')}">
		                                               <input id="hoten" name="hoten" th:value="${data.hoten}"  type="text"  class="form-control "  autocomplete="off" readonly>
		                                            </div>
		                                            <!-- ELSE -->
		                                            <div th:unless="${data!=null && data.containsKey('hoten')}">
		                                               <input id="hoten" name="hoten" type="text"  class="form-control "  autocomplete="off"   readonly  >
		                                            </div>
		
		                    </div>
		                </div><!--form-group-->
		                
		                 <div class="form-group">
		                    <label class="col-sm-4 control-label required" for="cc_code">Chức danh hiện tại </label>
		                    <div class="col-sm-8">
		
		                       <div th:if="${data!=null && data.containsKey('chucdanh')}">
		                                               <input id="chucdanh" name="chucdanh" th:value="${data.chucdanh}"  type="text"  class="form-control "  autocomplete="off"  readonly>
		                                            </div>
		                                            <!-- ELSE -->
		                                            <div th:unless="${data!=null && data.containsKey('chucdanh')}">
		                                               <input id="chucdanh" name="chucdanh" type="text"  class="form-control "  autocomplete="off"  readonly   >
		                                            </div>
		
		
		                    </div>
		                </div><!--form-group-->
		                
		                 
		                  <div class="form-group">
		                    <label class="col-sm-4 control-label required" for="cc_code">Ngày đảm nhận</label>
		                    <div class="col-sm-8">
		
		                        <div th:if="${data!=null && data.containsKey('ngay_dam_nhan')}">
		                                               <input id="ngay_dam_nhan" name="ngay_dam_nhan" th:value="${#dates.format(data.ngay_dam_nhan, 'dd/MM/yyyy')} " type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'" readonly>
		                                            </div>
		                                            <!-- ELSE -->
		                                            <div th:unless="${data!=null && data.containsKey('ngay_dam_nhan')}">
		                                               <input id="ngay_dam_nhan" name="ngay_dam_nhan" type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'"  readonly  >
		                                            </div>
		
		                    </div>
		                </div><!--form-group-->
		                
		                 <div class="form-group">
		                    <label class="col-sm-4 control-label requiredStar" for="cc_code">Ngày xuống tàu </label>
		                    <div class="col-sm-8">
		                    
		                    	<input id="tungay" name="tungay"  type="text"  class="form-control "  autocomplete="off" data-inputmask="'mask': '99/99/9999'" >
		                    </div>
		                </div>
		                
		                
                 <div class="form-group">
                    <label class="col-sm-4 control-label required" for="cc_code">Ghi chú </label>
                    <div class="col-sm-8">

                         <textarea id="ghichuon" name="ghichuon" class="form-control"    cols="50" style="min-height:100px" ></textarea>

                    </div>
                </div><!--form-group-->
		                
		                
		                
		                
				</div>
				<!-- ELSE -->
				<div th:unless="${ data!=null && data.containsKey('chucdanh')}">
						
					 <p>Thuyền viên hiện tại chưa có chức danh</p>
					<a th:href="@{/InfoCrew/} + ${data.id}" tabindex="1"><strong>Thêm chức danh</strong></a>
				</div>
				
              





            </div><!--modal-body-->

            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-success"><i
                        class="mdi mdi-check mdi-17px"></i> Save
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="mdi mdi-close mdi-17px"></i> Cancel
                </button>
            </div><!--modal-footer-->

        </div><!--model-content-->
       </form>
</div>

    <script >


	//var formData1 = JSON.stringify( $("#form").serializeArray() );


	//console.log(formData1);

	$( document ).ready(function() {


    initDateByMe("tungay");
    //initDateByMe("denngay_rank");




		$( "#save" ).click(function() {
				if( $('#tungay').val() === "" )
				{
					alert("Please fill data");
					//if( $('#chucdanhId').val() === "" )
					//	$('#chucdanhId').focus();
				}
				else
				{

			    //your form execution code
					var formData = trimObj( ConvertFormToJSON($("#form")) );
		

					console.log(formData);
					      $.ajax({
			                  type: "POST",
			                  contentType : 'application/json; charset=utf-8',
			                  data: JSON.stringify(formData),
			                  url: $('#PageContext').val()+ "assignment/add",
			                  success: function(msg){
			                	  
			                	   console.log(1);
				                   if(msg.status)
				                   {
				                	   $('#tauid').val( $('#tauid').val() ).trigger('change');
				                   }
				                   else
				                   {
				                	   alert(msg.status);
				                   }
				                   $('#modal-confirm').modal('hide');
			                  },
			                  error : function(xhr, ajaxOptions,
			                                   thrownError) {
			                  	alert("Có lỗi xảy ra nhờ admin hỗ trợ");
			                  	$('#cusloading').hide();
			               	    console.log(xhr.status);
			                    console.log(thrownError);
			                  }
			                  //
			              });
				}

		});
	});

</script>
